---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";

const pricing = [
  {
    name: "Paypal",
    popular: true,
    features: [],
    button: {
      text: "Get Started",
      link: "https://www.paypal.com/donate/?business=W73W5E3D6R6BW&no_recurring=0&currency_code=CAD",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Donation Page</Fragment>
      <Fragment slot="desc">
        Dear programmer, Thank you for taking the time to visit my blog and
        read my content. I hope you found it informative and useful. As an
        independent blogger, I rely on your support to continue creating quality
        content. If you appreciate my work and would like to contribute, please
        consider making a donation. Even a small amount can make a big
        difference and help me cover the costs of running this blog. You can
        donate through PayPal and your contribution will be greatly appreciated.
        Thank you for your support, M.W
      </Fragment>
    </Sectionhead>
    <div style="display: flex; justify-content: center; margin-top: 30px;">
      <Link
      size="lg"
      style="outline"
      rel="noopener"
      href="https://www.paypal.com/donate/?business=W73W5E3D6R6BW&no_recurring=0&currency_code=CAD"
      class="flex gap-1 items-center justify-center"
      target="_blank">
      <Icon class="text-black w-7 h-7" name="iconoir:donate" />
      Donate
    </Link>
    </div>
  
  
  </Container>
</Layout>


    